__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtualenv
venv/
.env
.venv/

# Environment variables
.env

# Tailwind
app/static/dist/
node_modules/

# IDEs
.idea/
.vscode/
*.swp
#reset_cloud_db.py